<template>
  <div v-if="visible" class="hin-bubble" :style="styles">
    <div class="hin-bubble__title"></div>
    <div class="hin-bubble__description"></div>
    <div class="hin-bubble__footer">
      <div class="hin-bubble__label">Power by <HintedIcon /></div>
      <div class="hin-bubble__steps">step 1 of 30</div>

      <div class="hin-bubble__buttons">
        <button class="hin-bubble__button">123</button>
      </div>
    </div>
  </div>
</template>

<script>
import HintedIcon from '../assets/icons/HintedIcon';

import { targetElementStep } from '../methods/playScenario';

export default {
  name: 'HinBubble',

  props: {
    visible: {
      type: Boolean,
      required: false,
      default: false,
    },

    rect: {
      type: DOMRect,
      required: false,
      default: () => {}
    },

    position: {
      type: String,
      required: false,
      default: 'top',
    },
  },

  components: {
    HintedIcon,
  },

  computed: {
    styles() {
      console.log(this.rect, 5555);
      return {
        left: `${this.rect?.left }px` || 0,
        top: `${this.rect?.top }px` || 0,
      };
    },
  },
};
</script>

<style lang="scss" scoped>
.hin-bubble {
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
  position: fixed;

  &__title {
    font-size: 20px;
    line-height: 23px;
    color: #343347;
    margin-bottom: 10px;
  }

  &__description {
    font-size: 15px;
    line-height: 18px;
    color: #343347;
  }

  &__footer {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__label {
    font-size: 10px;
    line-height: 12px;
    color: #bbbbc6;
  }

  &__steps {
    font-size: 12px;
    line-height: 14px;
    color: #bbbbc6;
  }
}
</style>